In [1]:
import pandas as pd

In [2]:
#2013 CSV's
july_13 = pd.read_csv('2013-07 - Citi Bike trip data.csv')
august_13 = pd.read_csv('2013-08 - Citi Bike trip data.csv')
september_13 = pd.read_csv('2013-09 - Citi Bike trip data.csv')
october_13 = pd.read_csv('2013-10 - Citi Bike trip data.csv')
november_13 = pd.read_csv('2013-11 - Citi Bike trip data.csv')
december_13 = pd.read_csv('2013-12 - Citi Bike trip data.csv')

In [3]:
bike_data13 = pd.concat([july_13, august_13, september_13, october_13, november_13, december_13]).reset_index(drop=True)
print(bike_data13.shape)
print(bike_data13.columns)
bike_data13.sample(5)

(5037185, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
3242394,587,2013-10-11 09:35:12,2013-10-11 09:44:59,477,W 41 St & 8 Ave,40.756405,-73.990026,444,Broadway & W 24 St,40.742354,-73.989151,18144,Subscriber,1979,1
4669363,288,2013-12-04 12:18:38,2013-12-04 12:23:26,469,Broadway & W 53 St,40.763441,-73.982681,480,W 53 St & 10 Ave,40.766697,-73.990617,20893,Subscriber,1995,1
3607355,202,2013-10-22 07:05:33,2013-10-22 07:08:55,518,E 39 St & 2 Ave,40.747804,-73.973442,167,E 39 St & 3 Ave,40.748901,-73.976049,18122,Subscriber,1973,2
2745498,315,2013-09-27 09:17:42,2013-09-27 09:22:57,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,482,W 15 St & 7 Ave,40.739355,-73.999318,15529,Subscriber,1971,1
350480,387,2013-07-16 08:07:55,2013-07-16 08:14:22,329,Greenwich St & N Moore St,40.720434,-74.010206,377,6 Ave & Canal St,40.722438,-74.005664,19905,Subscriber,1971,1

In [4]:
# 2014 csvs
january_14 = pd.read_csv('2014-01 - Citi Bike trip data.csv')
february_14  = pd.read_csv('2014-02 - Citi Bike trip data.csv')
march_14  = pd.read_csv('2014-03 - Citi Bike trip data.csv')
april_14  = pd.read_csv('2014-04 - Citi Bike trip data.csv')
may_14  = pd.read_csv('2014-05 - Citi Bike trip data.csv')
june_14  = pd.read_csv('2014-06 - Citi Bike trip data.csv')
july_14  = pd.read_csv('2014-07 - Citi Bike trip data.csv')
august_14  = pd.read_csv('2014-08 - Citi Bike trip data.csv')
september_14  = pd.read_csv('201409-citibike-tripdata.csv')
october_14  = pd.read_csv('201410-citibike-tripdata.csv')
november_14  = pd.read_csv('201411-citibike-tripdata.csv')
december_14  = pd.read_csv('201412-citibike-tripdata.csv')

In [5]:
bike_data14 = pd.concat([january_14, february_14, march_14, april_14, may_14, june_14, july_14, august_14, september_14, october_14, november_14, december_14]).reset_index(drop=True)
print(bike_data14.shape)
print(bike_data14.columns)
bike_data14.sample(5)

(8081216, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2417729,218,2014-05-29 12:43:36,2014-05-29 12:47:14,329,Greenwich St & N Moore St,40.720434,-74.010206,426,West St & Chambers St,40.717548,-74.013221,20981,Subscriber,1974,2
7015876,321,10/27/2014 15:01:24,10/27/2014 15:06:45,435,W 21 St & 6 Ave,40.741740,-73.994156,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1973.0,1
4155345,967,2014-07-24 16:15:28,2014-07-24 16:31:35,517,E 41 St & Madison Ave,40.752141,-73.979782,439,E 4 St & 2 Ave,40.726281,-73.989780,15196,Subscriber,1971,1
3160256,1471,2014-06-22 15:34:24,2014-06-22 15:58:55,363,West Thames St,40.708347,-74.017134,427,Bus Slip & State St,40.701907,-74.013942,14767,Customer,\N,0
3604528,681,2014-07-07 16:50:48,2014-07-07 17:02:09,305,E 58 St & 3 Ave,40.760958,-73.967245,477,W 41 St & 8 Ave,40.756405,-73.990026,20134,Subscriber,1982,1

In [6]:
# Save the dataframe to a CSV file
bike_data14.to_csv('citibikedatafinal14.csv', index=False)

In [ ]:
# 2015 csvs
january_15 = pd.read_csv('201501-citibike-tripdata.csv')
february_15  = pd.read_csv('201502-citibike-tripdata.csv')
march_15  = pd.read_csv('201503-citibike-tripdata.csv')
april_15  = pd.read_csv('201504-citibike-tripdata.csv')
may_15  = pd.read_csv('201505-citibike-tripdata.csv')
june_15  = pd.read_csv('201506-citibike-tripdata.csv')
july_15  = pd.read_csv('201507-citibike-tripdata.csv')
august_15  = pd.read_csv('201508-citibike-tripdata.csv')
september_15  = pd.read_csv('201509-citibike-tripdata.csv')
october_15  = pd.read_csv('201510-citibike-tripdata.csv')
november_15  = pd.read_csv('201511-citibike-tripdata.csv')
december_15  = pd.read_csv('201512-citibike-tripdata.csv')

In [ ]:
bike_data15 = pd.concat([january_15, february_15, march_15, april_15, may_15, june_15, july_15, august_15, september_15, october_15, november_15, december_15]).reset_index(drop=True)
print(bike_data15.shape)
print(bike_data15.columns)
bike_data15.sample(5)

In [ ]:
# Concatenate all dataframes 
combined_df = pd.concat([bike_data13, bike_data14, bike_data15], axis=0)

# Display the results
combined_df

In [ ]:
# Save the dataframe to a CSV file
combined_df.to_csv('citibikedatafinal.csv', index=False)